
	/*		header cover		*/
	
	* {
		padding: 0;
		margin: 0;
	
	}
	#headcover {
	
	background-image: url("img/foto.header.jpg");
	/* mode blur */
	filter: blur(5px);
	-webkit-filter: blur(5px);
  
	height: 500px;
	width: auto;  
  
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	}

	.body {
	position: absolute;
	width: 50%;
	
	/*	Mengatur Teks di tengah gambar */
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	}

	.body h1 {
	padding: 5%;
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
	font-family: 'Pacifico', cursive;
	font-size: 6vw;
	color: #fff;
	font-weight: bold;
	
	/*	Teks Menyala Seperti lampu neon */
	text-shadow:
	   0 0 3px #FFFFA0,
	   0 0 5px #FFFF4D,
	   0 0 9px #FFFF41,
	   0 0 20px #FFFF2A,
	   0 0 25px #FFFF2B;
	}

	
	
/*		Content 1		*/

	#content1 {
		border: none;
		background: #f0e3ff;
		padding: 3%;
	}

	#content1 .box {
		
		padding: 2rem;
		padding-left: 25%;
		padding-right: 25%;
		background: #ffff;
		text-align: center;
		font-family: 'Nunito', sans-serif;
	}
	
	#content1 .box i {
		padding: 5%;
		font-size: 5vw; /*		Font size responsive pakai vw*/
		border: solid 1px #000;
		border-radius: 50%;
		
	}
	
	/*		Content Paragraf*/
	#content1 .box p {
		color: #9dab86;
	}
	
	#content1 .box a {
		border: solid 1px #000;
		letter-spacing: 3px;
		padding: 5px;
		padding-left: 5%;
		padding-right: 5%;
		color: #000;
		text-decoration: none;
		
	}
		
	#content1 .box .card-text {
		font-family: 'Montserrat', sans-serif;
	}
		
	
/*		Content 2		*/

	#content2  {
		text-align: center;
		background-color: #f0e3ff;
		position: relative;
		padding: 3%;
		border: none;
		margin-left: auto;
		margin-right: auto;
	}
	
	#content2 .card img {
		height: 250px;
		width: auto;
	}
	
	#content2 .card-deck .card .card-body {
		padding: 8%;
		font-family: 'Montserrat', sans-serif;
		color: #9dab86;
	}
	
	#content2 .card-deck .card .card-body a{
		border: solid 1px #000;
		letter-spacing: 3px;
		padding: 5px;
		padding-left: 5%;
		padding-right: 5%;
		color: #000;
		text-decoration: none;
	}
	
	.body-gambar {
		position: absolute;
		width: 100%;
	
	/*	Mengatur Teks di tengah gambar */
		top: 30%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	.body-gambar .text-gambar {
		font-family: 'Montserrat Subrayada', sans-serif;
		font-size: 3vw;
		color: #fff;
		font-weight: bold;
	}
	
/*	Content 2-1	*/

	#content2-1  {
		text-align: center;
		background-color: #f0e3ff;
		position: relative;
		padding: 0 3% 3% 3%;
		border: none;
		margin-left: auto;
		margin-right: auto
	}
	
	#content2-1 .card img {
		height: 250px;
		width: auto;
	}
	
	#content2-1 .card-deck .card .card-body {
		padding: 8%;
		font-family: 'Montserrat', sans-serif;
		color: #9dab86;
	}
	
	#content2-1 .card-deck .card .card-body a{
		border: solid 1px #000;
		letter-spacing: 3px;
		padding: 5px;
		padding-left: 5%;
		padding-right: 5%;
		color: #000;
		text-decoration: none;
	}
	
/*	Footer	*/

	#footer {
		border: none;
		position: relative;
		padding: 5% 15%;
		background-color: #f0e3ff;
		text-align: center;
		font-family: 'Montserrat', sans-serif;
		margin-left: auto;
		margin-right: auto; 
	}
	
	#footer h2 {
		font-weight: bold;
		letter-spacing: 1rem;
	}
	
	#footer .card-body .card-text {
		color: #9dab86;
		font-size: 1vw;
		padding: 0 15%;
	}
	
	#footer .card-body a {
		text-decoration: none;
		color: #000;
		letter-spacing: 5px;
		padding: 1% 5%;
		border: 2px solid #000;
	}
	
	.sosmed .grup {
		position: relative;
		list-style: none;
	}
	
	.sosmed .grup li {
		display: inline;
		letter-spacing: 1vw;
	}
	
	.sosmed .grup i {
		color: #9dab86 ;
		font-size: 1vw;
	}
	
	#footer .card-footer {
		background: none;
		font-size: 0.8vw;
		color: #9dab86;
	}